uczelnia{}
wydzial{}
nazwa{}
kierunek{display: block; border: 3px double black; width: 320px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px}
nazwa{}
student{}
a{display: block; border: 1px solid gray; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; font-size: 20px; width: 300px; background-color: lightgray; }
b{display: block; border: 1px solid gray; margin-top: 5px; margin-bottom: 5px; margin-left: 10px; font-size: 20px; width: 300px; background-color: yellow}
nazwisko{color: red; text-decoration: underline;}
imie{color: green}
nrindeksu{}
